<div *ngIf="voteId < 0">
  <div *ngIf="!showResult" class="oil">
    <img class="oil-image" src="../assets/oil.png" style=" text-align: left">
    <span class="oil-value" [ngClass]="{ 'oil-value-minus': oil < 0 }" style=" text-align: left">
      {{oil | number}}
    </span>
  </div>

  <div class="members" *ngIf="showResult">
    <ul class="members">
      <li class="members" *ngFor="let d of allVoteData">
        <div class="member"
        (mouseenter)="selectedMember=d.name"
        (mouseleave)="selectedMember=''">
          {{d.name}}
        </div>
      </li>
    </ul>
  </div>

  <table>
    <tbody>
      <tr *ngFor="let building of config.building">
        <td class="first">
          <div class="name">{{building.name}}</div>
          <div class="effect">{{building.effect}} {{sumValues(building.id) | signedNumber}}{{building.unit}}</div>
        </td>
        <td *ngFor="let level of building.levels; last as isLast"
          [ngClass]="{ last: isLast }" class="level">
          <div class="level-check">
            <input type="checkbox"
            [checked]="level.level <= getLevel(building.id)"
            [disabled]="level.level <= building.minLevel || building.maxLevel < level.level || showResult"
              (change)="setLevel(building.id, level.level, $event)">
            <label>
              <div *ngIf="showResult && sumVotes(building.id, level.level) > 0" class="check">

                {{sumVotes(building.id, level.level)}}
              </div>
            </label>
          </div>
          <div class="level-param">
            <div>
              <img class="param-icon" src="../assets/oil.png" />
              <span class="param-value">
                {{level.oil | number}}
              </span>
            </div>
            <div>
              <img class="param-icon" src="../assets/arrow.png" />
              <span class="param-value"
              [ngClass]="{ low: level.maxTier <= 6, mid: level.minTier >= 7 && level.maxTier <= 8, high: level.minTier >= 9 }">
                {{level.value | signedNumber }}{{building.unit}}
              </span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!showResult">
    <button class="vote" [disabled]="oil < 0" (click)="postVote()">
      投票
    </button>
  </div>
</div>

<div *ngIf="voteId >= 0">
  <p>
    仮投票を受け付けました。<br/>
    以下をディスコードの#voteチャンネルに貼り付けてください。
  </p>
  <div>
    <span class="voteId">
      !vote {{voteId}}
    </span>
  </div>
</div>

<div *ngIf="!isProd">
  <button (click)="postVote()">
    POST
  </button>
  <button (click)="getVote()">
    GET
  </button>
  <button (click)="showResult = !showResult">
    CHANGE VIEW
  </button>
</div>
